html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/steven-spassov-153.jpg'); 
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

svg {
    pointer-events: none;
    transform: rotateY(180deg);
    /*border: 3px solid red;*/
}

svg:not(:root).svg-inline--fa {
    overflow: hidden;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(155deg, #513090 0%, #ad6ed1 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: url('../img/cards-open.png');
}

.deck .card.show {
    background: url('../img/cards-show.png');
    font-size: 33px;
    transform: rotateY(180deg);
    transition: .4s;
    transform-style: preserve-3d;
}

.deck .card.close {
    transform: rotateY(-180deg);
    transition: .25s;
    /*transform-style: preserve-3d;*/
}

.deck .card.match {
    cursor: default;
    background: #c75c50;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

@-webkit-keyframes blink {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.blink {
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
}

.hide {
    color: #2D2D2D;
    opacity: 0%;
}
